<form method="post" class="wizard"><h1>Save Site Settings</h1>
<%- partial("../../views/step_header.html", {step: "confirm"}) %> <br />
<h2>Save Site Settings</h2>
<p>By hitting "Save Settings" below you will apply the settings below to your site:</p>
<% for (var p in state){ %>
    <h3><%= p %></h3>
    <% var state_data = state[p];
    delete state_data.next;
    delete state_data.password;
    delete state_data.password2;
    %>
    <dl class="clearfix">
   <% for (var field in state_data){ %>
   <dt><%= field %></dt>
   <dd><%= state_data[field] %></dd>
    <% } %>
        </dl>
    <% } %>
<%- partial("../../views/step_footer.html", {step: "confirm"}) %></form>